<ion-view view-title="STW Fixed Assets Inventory">
  <ion-content>
  <div class="row">
  	<div class="col">

  		<div class="list card">
		  <a ng-click="routeTo('app.continue')" class="item item-icon-left">
		    <i class="icon ion-android-clipboard balanced"></i>
		    Continue File
		  </a>
  		</div>

  		<div class="list card">
		  <a nav-clear="" ng-click="showConfirm()" class="item item-icon-left">
		    <i class="icon ion-plus-round balanced"></i>
		    Create New File
		  </a>
  		</div>

  		<div class="list card">
		  <a ng-click="routeTo('app.browse')" class="item item-icon-left">
		    <i class="icon ion-android-folder balanced"></i>
		    Browse Files
		  </a>
  		</div>

  		<div class="list card">
		  <a ng-click="routeTo('app.send')" class="item item-icon-left">
		    <i class="icon ion-email balanced"></i>
		    Send File
		  </a>
  		</div>

  	</div> <!-- end of col -->
  </div>

  	
  </ion-content>
</ion-view>