<ion-view view-title="Send Inventory">
  <ion-content>
  <form name="emailForm" novalidate> 
	  	<div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Destination address:</span>
			    <input type="email" name="email" placeholder="john@gmail.com" ng-model="email.destination" required>
			    <span style="color:red;position:relative;" 
			    ng-show="emailForm.email.$dirty && emailForm.email.$invalid">
			    <i class="icon ion-alert">&nbsp; Please enter a valid email address.</i>
			  	</span>
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Email Subject</span>
			    <input type="text" name="subject" placeholder="Fixed Asset Inventory" ng-model="email.subject" required>
			    <span style="color:red;position:relative;" 
			    ng-show="emailForm.subject.$dirty && emailForm.subject.$invalid">
			    <i class="icon ion-alert">&nbsp; Required.</i>
			  	</span>
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Email body</span>
			    <!-- <input type="text" placeholder="I have attached the Fixed Assed Inventory"> -->
			     <textarea name="body" placeholder="I have attached the Fixed Assed Inventory" ng-model="email.body" required></textarea>
			     <span style="color:red;position:relative;" 
			    ng-show="emailForm.body.$dirty && emailForm.body.$invalid">
			    <i class="icon ion-alert">&nbsp; Required</i>
			  	</span>
			  </label>
			</div>
			<div class="row">
		  	<div class="col">
		  		<button class="button button-block button-dark" ng-click="cancel()">
				  Cancel
				</button>
		  	</div>
		  	<div class="col">
		  		<button class="button button-block button-dark" ng-click="sendEmail()"
		  			ng-disabled="emailForm.email.$invalid || 
			  				emailForm.subject.$invalid || emailForm.body.$invalid">
				  Send File
				</button>
		  	</div>
		  </div>
	  </form>
  </ion-content>
</ion-view>